{%extends 'parent.html'%}
{%block title%}
Updating
{%endblock%}
{%block content%}
    <h1>Update Product</h1>
    <form action="/submit-product/" method="POST" enctype="multipart/form-data">
        <label for="product_id">Product ID:</label><br>
        <input type="text" id="product_id" name="product_id" required><br><br>

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="price">Price ($):</label><br>
        <input type="number" id="price" name="price" step="0.01" required><br><br>

        <label for="img">Image:</label><br>
        <input type="file" id="img" name="img" accept="image/*" required><br><br>

        <button type="submit">Submit Product</button>
    </form>
{%endblock%}